* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    position: absolute;
    top: 0;
    width: 99vw;
    height: 100vh;
    background-size: cover;
    background-color: #283037;
    color: #fff;
}

#root {
    height: 100vh;
}

.fade-background{
    background-color: rgba(255,255,255,0.05);
}


/*Form elements*/
.button {
    color: rgb(241, 241, 241) !important;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0071bc;
    padding: 20px;
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: box-shadow 0.05s ease-in-out;
}

button:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

button:focus {
    outline: 0;
}

button:active {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.4), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0,0,0,.12);
}

button:hover {
    background-color: #3498db;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-20 {
    margin-left: 20px;
}

.form {
    display: flex;
    height: 56px;
}

.input {
    border: none;
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: ridge;
    border-radius: 0;
    padding: 1.5%;
    width: 100%;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
