.historyContainer {
  height: 56vh;
  width: 36%;
  margin-top: 32px;
}

.activeContainer {
  padding-left: 25px;
  margin: 4.5% 0;
}

.title {
  position: absolute;
  top: -60px;
  left: 0;
}

/*------scrolling-------*/
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .historyContainer {
    display: none;
  }
}