.historyContainer {
  display: flex;
  flex-direction: column;
  margin-left:0;
  padding-left: 25px;
  color: white;
  height: 88%;
  width: 36%;
  justify-content: space-between;
  overflow-y: scroll;
}

.activeContainer img {
  padding-left: 10px;
}

.historyContainer h1 {
  margin-bottom: 0;
}

.activeContainer {
  align-items: center;
  margin-bottom: 20%;
}

.activeItem {
  display: flex;
  align-items: center;
}


/*------scrolling-------*/
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}





@media (min-width: 320px) and (max-width: 1200px) {
  .historyContainer {
    display: none;
  }
}