.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height:65vh;
}

.participants {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.cardsContainer {
  display: inline-block;
  width: 60%;
  justify-content: center;
  align-items: center;
  padding: 28px;
}

.open-cards-button {
  height: 56px;
  width: 15% !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .participantsContainer {
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
