.participantsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height:65vh;
}

.container {
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  padding-left: 20px;
  height: 75%;
  width: 55%;
}

.participants {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.open-cards-button {
  height: 56px;
  width: 15% !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .participantsContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
