.topicContainer .form {
    float: left;
    width: 58%;
}

.topicContainer {
    display: block;
    padding-left: 40px;
    height:35vh;
}
.clearIcon {
    border: none;
    background: white;
    top: 0;
    right: 0;
    color: #888;
    padding: 18px 15px;
    font-weight: bold;
    cursor: pointer;
}

.open-cards-button, .send-button, .stop-game-button {
    height: 56px;
    width: 12.5% !important;
}


@media (max-height: 600px) {
    .topicContainer {
        display: contents;
    }

    .user-story-info-container {
        margin: 20px 0 50px 40px;
    }

}

